page-calculo {
    .scroll-content {
        margin-top: 23px !important;
    }

    .informacao-calculos {
        display: inline-block;
        text-align: justify;
        margin-top: 20px;
        line-height: 25px;
    }

    input[type=tel] {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        text-align: left !important;
    }

    .message-success {
        margin: 0 0 30px 0;
        font-size: 14pt;
    }
}
