<ion-content class="padding">
    <div class="registry-header">
        <div class="pull-left menu-button">
            <button ion-button menuToggle icon-only class="more">
				<ion-icon ios="md-more" md="md-more"></ion-icon>
            </button>
        </div>
        <div class="pull-left">
            <h1>Olá {{nome}}</h1>
            <h4>em que podemos ajudar?</h4>
        </div>
        <div class="clearfix"></div>
	</div>
	<div class="registry-wrapper">
		<h4>Novos documentos</h4>
		<swiper [config]="config" [(index)]="index">
			<div class="swiper-slide">
				<div class="card">
					<div class="item item-text-wrap" ng-click="go('app.certidao')">
						<h3>Certidão e Traslados</h3>
						<a ng-click="go('app.certidao')">
							<ion-icon name="add" class="icon"></ion-icon>Solicitar</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<div class="item item-text-wrap" ng-click="go('app.certidao')">
						<h3>Procuração</h3>
						<a ng-click="go('app.certidao')">
							<ion-icon name="add" class="icon"></ion-icon>Solicitar</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<div class="item item-text-wrap" ng-click="go('app.certidao')">
						<h3>Reconhecimento de Firma</h3>
						<a ng-click="go('app.certidao')">
							<ion-icon name="add" class="icon"></ion-icon>Pesquisar
						</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<div class="item item-text-wrap" ng-click="go('app.certidao')">
						<h3>Testamento</h3>
						<a ng-click="go('app.certidao')">
							<ion-icon name="add" class="icon"></ion-icon>Agendar
						</a>
					</div>
				</div>
			</div>
		</swiper>
		<h4>Cálculos</h4>
		<swiper [config]="config" [(index)]="index">
			<div class="swiper-slide">
				<div class="card calculate">
					<div class="item item-text-wrap" (click)="go('itbi')">
						<h3 class="itbi">Cálculo de ITBI</h3>
						<h5>{{cidade}}</h5>
						<a><ion-icon name="add" class="icon"></ion-icon>Calcular</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card calculate">
					<div class="item item-text-wrap" (click)="go('itcd')">
						<h3 class="itbi">Cálculo de ITCD</h3>
						<h5>{{estado}}</h5>
						<a><ion-icon name="add" class="icon"></ion-icon>Calcular</a>
					</div>
				</div>
			</div>
		</swiper>
		<h4>Histórico</h4>
		<swiper [config]="config" [(index)]="index" *ngIf="historico && !loading">
			<div class="swiper-slide" *ngFor="let pedido of historico">
				<div class="card documents">
					<div class="item item-text-wrap">
						<h3>{{pedido.tipo}}</h3>
						<span>{{getStatus(pedido.tipo, pedido.status)}}</span>
						<span class="time"><ion-icon name="calendar"></ion-icon>{{pedido.data}}</span>
						<span class="time"><ion-icon name="clock"></ion-icon>{{pedido.hora}}</span>
					</div>
				</div>
			</div>
		</swiper>
		<p class="sem_historico" *ngIf="!historico && loading"><ion-spinner name="dots"></ion-spinner></p>
		<p class="sem_historico" *ngIf="!historico && !loading">Não possui histórico!</p>
	</div>
</ion-content>
